<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Este es el titulo de la pagina <%= 1+3+5+7 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, sint!
      Obcaecati asperiores, animi optio ad fuga dolore mollitia? Animi, illum
      perferendis sunt iste officiis asperiores aspernatur voluptate maiores aut
      neque nulla quasi error architecto, eius suscipit corporis voluptatum
      accusamus ex ipsum! Quos non, unde nulla ad architecto quam temporibus
      consequatur!
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
      reprehenderit soluta vero beatae dicta eius magni dolores ea commodi non
      odio. Quos adipisci rem esse quas ipsam provident, reiciendis, vero at
      natus cum corrupti facilis.
    </p>
    <%= 'Hola mundo'.toUpperCase() %>
    <!-- estos simbolos de aqui son simbolos que funcionan con archivos ejs y son para poner codigo js que se vera en la pagina principal -->
  </body>
</html>
